body {
    background-color: bisque;
}
.header {
    background: url('img/code-banner.png');
}

h1.header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
}

.goals-table {
    border: 1px solid;
}